.popupBox{
    position: absolute;
    display: none;
    padding: 10px;
    z-index: 10000;
    border:1px solid #4D90FE;
    background-color: #FFF;
    border-radius: 0 !important;
    border-collapse: collapse;
    box-shadow: 10px 10px 5px #888888;
    color: #000000;
    font-family: 'Open Sans',sans-serif;
    margin: -10px;
    top: 50%;
    left: 50%;
}

.popupBox .namespan_box{
    text-align: center;
    display: inline-block;
    padding:0px;
    margin:10px auto;
    width: 100%;
}

.popupBox .namespan{
    padding:0px;
    margin:5px 0px;  
    font-family:'Open Sans',sans-serif;
    font-size: 12pt;
    font-weight: bolder;
    word-wrap: break-word;
    color:#900;
}
.popupBox .wlogtitle{
    padding:0px;
    margin:5px 0px;  
    font-family:'Open Sans',sans-serif;
    font-size: 12pt;
    color: #7f4614;
}
.popupBox table{

    border: 1px solid #DDDDDD;
    border-collapse: separate;
    border-radius: 4px;
    font-size: 13px;
    margin-bottom: 18px;
    padding: 0;
    width: 100%;

}

.popupBox table tr:first-child td:first-child {
    border-radius: 4px 0 0;
}
.popupBox table tr:first-child th:first-child {
    border-radius: 4px 0 0;
}
.popupBox table thead th{
    border-bottom: 1px solid #DDDDDD;
}
.popupBox table tfoot th{
    border-top: 1px solid #DDDDDD;
}
.popupBox table th, .popupBox table td {
    line-height: 18px;
    padding: 10px 10px 9px;
    text-align: left;
}

.popupBox table tr + tr td {
    border-top: 1px solid #DDDDDD;
}     

.popupBox table tr + tr th {
    border-top: 1px solid #DDDDDD;
}  

.popupBox table input, .popupBox table select, .popupBox table textarea{
    border: 1px solid;
    border-color:#88c5eb;
    border-radius: 3px;
} 

.popupBox .btn {
    padding: 5px 20px;
    border: 1px solid rgba(0,0,0,0.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: #0184ff;
    color: white;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}

.popupBox .btn:hover {
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  inset 0 -10px 10px rgba(255,255,255,0.1);
}



.dv-popupTitle{
    background-color:#4D90FE;
    color:#FFF;    
    font-family: "Arial black";
    font-size: 12pt;
    font-weight: bolder;
    padding: 0px;
    height: 35px;
}

.dv-popupTitle .clossButton{
    float: right;
    padding: 4px 8px;
    padding-right: 15px;
    height: 27px;
}

.popupAction:hover{
    background-color:#0362FD !important;
}

.popupBox .dragSaveBox{
    padding: 0px;
    margin: 0px;
}

.popupBox .dragColumn{
    padding: 4px 8px;
    color: goldenrod;
    font-size: 12pt;
    float: left;
}

.popupBox .saveColumn{
    padding: 0px;
    margin: 0px;
    float: right;
    clear: right;
}

.popupBox .pop_success{
    color: #060;
}
.popupBox .pop_failure{
    color: #E13300;
}

.popupBox .failureHead{
    color: #E13300;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.dv-popupTitle .titleColumn{
    float: left;
    padding: 4px 8px;
}

.popupBox .wlogData
{
    max-height: 500px;
    overflow: scroll;
}

.popupBox .nodata{
    color: #E13300;
    font-family: "Dejavu mono";
    font-weight: normal;
}