@charset "utf-8";
/* CSS Document */

.tooltip {
    position: relative;

    /*width: 100px;
    height: 100px;*/
}

.tooltip:hover:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 20%;
    z-index: 98;
    border-radius: 5px;
    bottom: 26px;
    color: #F06;
    padding: 3px;
    font-size:12px;
    /*width: 220px;*/
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #222;
    -webkit-box-shadow: 0px 0px 4px #222;
    box-shadow: 0px 0px 4px #222;
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

.tooltip:hover:before {
    border: solid;
    border-color: #cccccc transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}