* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: white;
	font-size: 12px;
	background: #008040;
	background-image:url(../../images/login/background.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Start shihab */
#container {
	margin: 100px auto;
	background-color: #000;
	width: 715px;
	padding: 5px;
	border-radius: 10px;/*text-align:center;*/
}
.content {
	width: 350px;
	margin: 0px;
	padding: 0px;
	display: inline-block;
	padding: 5px;
	border-radius: 10px;/*text-align:center;*/
        height: 100%;
        vertical-align: middle;
}


.content img#logo {
    max-width: 350px;
}

.log-fail {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0px;
	background:#ffecec url('../../images/error.png') no-repeat 10px 50%;
	border:1px solid #f5aca6;
}

.log-success {
	color:#555;
	border-radius:10px;
	font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
	padding:10px 36px;
	margin:0px;
	background:#e9ffd9 url('../../images/success.png') no-repeat 10px 50%;
	border:1px solid #a6ca8a;
}


.log-span {
	font-weight:bold;
	text-transform:uppercase;
}


/*          End shihab        */




form {
	background: #111;
	width: 300px;
	/*margin:100px auto;*/
	border-radius: 0.4em;
	border: 1px solid #191919;
	overflow: hidden;
	position: relative;
	box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
form:after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 100px;
	left: 20%;
	background: linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
	top: 0;
}
form:before {
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 5px;
	border-radius: 50%;
	left: 34%;
	top: -7px;
	box-shadow: 0 0 6px 4px #fff;
}
.inset {
	padding: 0px 20px;
	border-top: 1px solid #19191a;
}

.inset #reponse{
        display: none;
        background-color: #fff;
        color: green;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
    }

.inset .success{
        color: #060;
        background-color: #fff;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
    }

.inset .failureHead{
        color: red;
        background-color: #fff;
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        font-weight: bolder;
    }
    
.inset .failure{   
    font-weight: normal;
}
    
    
.inset p{
    margin-top: 30px;
}

form h1 {
	font-size: 18px;
	text-shadow: 0 1px 0 black;
	text-align: center;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0,0,0,1);
	position: relative;
}
form h1:after {
	content: "";
	display: block;
	width: 250px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50px;
	pointer-events: none;
	transform: rotate(70deg);
	-webkit-transform: rotate(70deg);
	background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */
}
label {
	color: #0FF;
	display: block;
	padding-bottom: 9px;
}
input[type=text], input[type=password],select {
	width: 180px;
	color: #FFF;
	padding: 8px 5px;
        background-color: black;
	background: linear-gradient(#1f2124, #27292c);
	border: 1px solid #222;
	box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	border-radius: 0.3em;
	/*margin-bottom: 20px;*/
}
label[for=remember] {
	color: white;
	display: inline-block;
	padding-bottom: 0;
	padding-top: 5px;
}
input[type=checkbox] {
	display: inline-block;
	vertical-align: top;
}
.p-container {
	padding: 0 20px 20px 20px;
        margin-top: 10px;
}
.p-container:after {
	clear: both;
	display: table;
	content: "";
}
.p-container span a{
	display: block;
	float: left;
	color: #0d93ff;
	padding-top: 8px;
}
input[type=submit] {
	padding: 5px 20px;
	border: 1px solid rgba(0,0,0,0.4);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 0.3em;
	background: #0184ff;
	color: white;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
}

input[type=button] {
	padding: 5px 20px;
	border: 1px solid rgba(0,0,0,0.4);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  inset 0 10px 10px rgba(255,255,255,0.1);
	border-radius: 0.3em;
	background: #0184ff;
	color: white;
	float: right;
	font-weight: bold;
	cursor: pointer;
	font-size: 13px;
}

input[type=submit]:hover,input[type=button]:hover {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),  inset 0 -10px 10px rgba(255,255,255,0.1);
}
input[type=text]:hover, input[type=password]:hover, label:hover ~ input[type=text], label:hover ~ input[type=password] {
	background: #27292c;
}
